﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
        var root = Model.Content.Site();
	    var selection = root.Children().Where(x => x.DocumentTypeAlias == "projectOverview").First().Children().Where(x => x.HasValue("projectStatus") && Umbraco.GetPreValueAsString(x.GetPropertyValue<int>("projectStatus")) == "Completed").OrderBy("CreateDate desc").Take(3);
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url" class="list-group-item list-group-item-action">
                @item.Name
            </a>
		</li>
	}
</ul>

