﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Newtonsoft.Json;
@using Umbraco.Web.Models;
@{
	var memberService= ApplicationContext.Current.Services.MemberService;
	var activeMembers= memberService.GetMembersByGroup("Active");
	var guestMembers = memberService.GetMembersByGroup("Guest");
}

@foreach(var member in activeMembers) 
{
    <div class="memberBox">
        <h2 class="skills">Active Member</h2>
        <div class="row">
            <div class="col-4">
                @{
                    if(member.HasProperty("photo"))
                    {
                        var image = member.GetValue<string>("photo");
                        var imageCrop= JsonConvert.DeserializeObject<ImageCropDataSet>(image);
                        <img class="memberImage" src="@imageCrop.Src"/>
                    }
                }
            </div>
            <div class="col-8 test">
                    @{
                    string[] skills= member.GetValue("skills").ToString().Split(',');
                    string skillString= string.Join(", ", from skill in skills select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));
                    
                    if (member.GetValue("skills") != null)
                    {
                        <p class="skills">@member.Name<br>
                        @member.GetValue("address")<br>
                        @member.GetValue("zip") 
                        @member.GetValue("city") <br>
                        Email: @member.Email <br>
                        <span>Skills: @skillString</span>
                        </p>
                    }
                    }
            </div>
        </div>
    </div>
}

@foreach(var member in guestMembers) 
{
    <div class="memberBox">
        <h2 class="skills">Guest Member</h2>
        <div class="row">
            <div class="col-12 test">
                <p class="skills">Username : @member.Name</p>
            </div>
        </div>
    </div>
}


