﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    @* Vi starter med at lave en ny instance af vores LoginModel *@
    var loginModel = new LoginModel();

    @* Derefter tilføjer vi alt vi skal bruge til client-side validation *@
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
    
    @* Vi sætter hvilken URL vi skal komme hen til når vi logger ud, hvilket bare er root *@
    var logoutModel = new PostRedirectModel();
    logoutModel.RedirectUrl = "/";
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()

@* Jeg starter med at tjekke på om man er logget ind eller om man er logget ud, Det bruger jeg til at bestemme hvilken form der skal displays om det er Login formen eller logud formen *@
@if (!Members.GetCurrentLoginStatus().IsLoggedIn)
{
    @* Jeg bruger derefter en Controller som Umbraco har lavet som skal håndtere at logge ind. *@
    using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
    {
        <fieldset class = "box">
            <h2>Login</h2>
            @* Jeg laver derefter en Username og en Password felt hvor jeg sørger for at de refere til de korrekt variable i min login model som vi definerede oppe tidligere og jeg tilføjer noget basalt bootstrap CSS *@
            <div class="form-group">
                @Html.LabelFor(m => loginModel.Username, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-12">
                    @Html.TextBoxFor(m => loginModel.Username, new { @class = "form-control", placeholder = "Username" })
                    @* Jeg sørger at tjekke på at feltet ikke står tomt, da det er et required felt. *@
                    @Html.ValidationMessageFor(m => loginModel.Username)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => loginModel.Password, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-12">
                    @Html.PasswordFor(m => loginModel.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => loginModel.Password)
                </div>
            </div>
            @* Her laver jeg en knap hvilket når bliver trykket skal stå for at køre min HandleLogin *@
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button id="login" class="btn btn-primary input-medium pull-left">
                        Login
                    </button>
                </div>
            </div>
        </fieldset>
    }
}
else
{
    @* Dette sker så hvis man allerede er logget ind, så istedet for at man bruger Umbracos controller til at logge ind, så bruge jeg deres StatusController som står at logge ud *@
    @* Det minder meget om ovenfår bare uden input felter, den skriver dit brugernavn ud og giver dig en knap så du kan logge ud *@
    using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
    {
        <div class="box">
            <h2>You are currently logged in as @Members.GetCurrentLoginStatus().Name</h2>
            <div class="col-sm-12">
                <button id="logout" class="btn btn-primary">
                    Logout
                </button>
            </div>
            @* Når knappen bliver trykket på sørge denne for at du bliver sendt tilbage til root, da det var det som jeg definerede oppe i starten *@
            @Html.HiddenFor(m => logoutModel.RedirectUrl)
        </div>
    }
}