﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

@*Vi får alle de childrens hvor vores hide from navigation ikke er sat til og vi ligger dem derefter i et array*@
@{  var root = Model.Content.Site(); 
    var selection = root.Children.Where(x => x.IsVisible()).ToArray(); 
}

@*Vi tjekker derefter om der er noget i vores variable*@
@if (selection.Length > 0)
{
    @*Hvis der er noget i vores selection, så laver vi en unordered list*@
    <ul class="navbar-nav">
        @*Jeg starter med at ligge root elementet ind i starten*@
        <li class="@(CurrentPage.Level == 1 ? "active" : null)">
            <a class="nav-link" href = @root.Url>@root.Name</a>
        </li>
        @* Jeg kører derefter alle vores elementer igennem *@
        @foreach (var item in selection)
        {
            @* Jeg laver derefter et tjek på om disse elementer har en form for beskyttelse, da der er forskellige bruge som kan se forskellige ting *@
            var isProtected = umbraco.library.IsProtected(item.Id, item.Path);
            var loginAccess= isProtected && umbraco.library.HasAccess(item.Id, item.Path);
            if(!isProtected|| loginAccess) {
                @* Så hvis et element ikke er beskyttet og man har loginAccess, så begynder jeg at tilføje. Det første jeg tjekker på er Projects, da jeg vil have den i en dropdown *@
                if(item.Name == "Projects")
                {
                    @* Så hvis mit elements navn er Projects, hvilket er hovedelementet på min projekter, så laver jeg en dropdown menu *@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="@item.Url" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Projects
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @* Jeg begynder derefter at loop alle under elementer på Projects igennem, hvor jeg tjekker på om den har en projectStatus og om den er IsVisible (ellers skal den ikke vises) *@
                        @foreach(var child in item.Children().Where(x => x.HasValue("projectStatus")).Where( x => x.IsVisible()))
                        {
                            @* Jeg laver derefter igen er tjek ligesom før, da nogle projekter kun ses af nogle bestemtet roller, så det er bare det samme tjek igen. *@
                            var isProtectedDropDown = umbraco.library.IsProtected(child.Id, child.Path);
                            var loginAccessDropDown = isProtectedDropDown && umbraco.library.HasAccess(child.Id, child.Path);
                            if(!isProtectedDropDown|| loginAccessDropDown) {
                                @* Så hvis man har tiladelse til at se elementer bliver det tilføjet til min dropdown *@
                                <a class="dropdown-item" href="@child.Url">@child.Name</a>
                            }
                        }
                    </div>
                  </li>
                }
                else if(item.Name == "Login"){
                    @* Her laver jeg 2 tjek hvis min items name er Login. Jeg kigger på om brugeren er logget ind, fordi hvis han er, så skal der stå Log Out i menu baren *@
                    if(Members.GetCurrentLoginStatus().IsLoggedIn){
                        <li class="@(item.IsAncestorOrSelf(Model.Content) ? "active" : null)">
                            <a class="nav-link right" href="@item.Url">Log Out</a>
                        </li>
                    }
                    else{
                        @* Hvis brugeren ikke er logget ind, så skal der står Login istedet for *@
                        <li class="@(item.IsAncestorOrSelf(Model.Content) ? "active" : null)">
                        <a class="nav-link" href="@item.Url">@item.Name</a>
                    </li>
                    }
                }
                else{
                    @* Til sidst tilføjer vi alle de resterende elementer som der i vores array. *@
                    <li class="@(item.IsAncestorOrSelf(Model.Content) ? "active" : null)">
                        <a class="nav-link" href="@item.Url">@item.Name</a>
                    </li>
                }
            }
        }
    </ul>
}

@*Gennem det hele laver vi noget generelt bootstrap styling på de forskellige elementer*@ 