﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
	var selection = Model.Content.Site().FirstChild("articlesOverview").Children("articleItem")
						.Where(x => x.IsVisible());
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url" class="list-group-item list-group-item-action">
                @item.Name
            </a>
		</li>
	}
</ul>