﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ArticlesOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<section>
    <h1>@Model.ArticlesTitle</h1>
    <h2>@Model.ArticleBodyText</h2>
    @Umbraco.RenderMacro("RecentArticles")
</section>