﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ArticleItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<section class="sectionItem">
    <h1>@Model.ArticleTitle</h1>
    <h2>@Model.ArticleContent</h2>
</section>
<section class="sectionItem">
    <h2>Her er en liste af andre artikler du kunne være interesseret i!</h2>
    @Umbraco.RenderMacro("RecentArticles")
</section>