﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContactPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<section>
    @Html.Action("Index", "ContactFormSurface")
</section>