﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<section class="home-page">
    @{
        var image = Umbraco.TypedMedia(Model.Logo.ToString());
    }
    
    <img src="@image.Url" alt=""/>
    <h1 class="title">
        @Model.SiteTitle
    </h1>
</section>
<secion class="recent">
    <h3 class="mainContent">
        @Model.MainContent
    </h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <h4>Her er de nyeste articles</h4>
                @Umbraco.RenderMacro("RecentArticles")
            </div>
            <div class="col-sm">
                <h4>Her er de nyeste projekter</h4>
                @Umbraco.RenderMacro("ComepletedProjectWithAmount")
            </div>
        </div>
    </div>
</secion>
