﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProjectItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<section class="sectionItem">
    <h1>@Model.ProjectTitle </h1>
    <h2>@Model.ProjectDescription</h2>
    @{
        //Vi henter ID'et på vores radio button og bruger det nedenunder for at få en text værdi
        var SelectionId = Model.GetPropertyValue<Int32>("projectStatus");
        
        <p>Dette project er @umbraco.library.GetPreValueAsString(SelectionId)</p>
    }
</section>