﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProjectOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<section>
    <h1>@Model.ProjectTitle</h1>
    <h2>@Model.ProjectBodyText</h2>
    @Umbraco.RenderMacro("AllProjects") 
</section>