.home-page{
	position:relative;	
}

img{
	width:100%;	
	height: 30em;
}

.title{
	color:#006994;	
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%)
}

.mainContent{
	text-align:center;
	margin-top:2em;
    color:black;
}

.recent{
	text-align:center;
	margin-bottom:2em;
}	

ul{
	list-style: none;
	padding:0;
	color:#000000;
}

.sitemap{
	list-style:none;	
}


.contentMain{
	margin-bottom:4.5em;	
}

.right{
    float:right;
}

.box {
    background-color: #007bff;
    margin: 3em auto;
    border-radius: 5px;
    width: 40em;
    padding: 0.5em 0;
}

.box > label{
    color:white;
}

.box button{
    background-color:Red;
}

.box > div{
    color:white;

}

.box > h2{
    margin-left : 0.5em;
    color : white;
}

.sectionItem {
    border-bottom-style: solid;
    border-bottom-color: lightblue;
    border-bottom-width: 1px;
    margin : 1em auto;
}

.sectionItem > h1, h2{
    margin-bottom:0.5em;
    color:#006994;
}

.memberBox {
    background-color: #007bff;
    border-radius: 5px;
    padding: 0.5em 0.5em ;
    margin: 2em auto;
    width: 25em;
}

.memberImage{
    width:100px;
    height:100px;
    margin-top : 0.5em;
    margin-left : 0.5em;
}

.skills{
    color:white;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color:white;
  width: 100%;
    z-index: 10;
  /* Set the fixed height of the footer here */
  height: 60px;
}

footer p{
    position : relative;
    left : 2em;
    top: 1.2em;
}