﻿@* Sørge for at den ved hvilken viewModel den skal bruge *@
@model AarhusWebDevCoop.Models.ContactFormViewModel

@{
    ViewBag.Title = "Contact Us";
    Layout = "";
}

@* Jeg satter med at tjekke på om vores success værdi i TempData er null, for hvis den er det, så betyder det vi ikke har sendt en besked endnu *@
@if (TempData["success"] == null)
{
    @* Derefter Laver jeg en ny Umbraco form som er baseret på den metode jeg har lavet i min surface controller og jeg laver et nyt layout udfra det. *@
    using (Html.BeginUmbracoForm("HandleFormSubmit", "ContactFormSurface", new object { },
    new { @class = "form-horizontal box" }))
    {
        <h2>Contact us</h2>
        @* Ligesom i login, så går jeg igennem alle felterne og sørge for at de refere til de rigtige elementer i min model og jeg husker at lave valdiation check på dem alle sammen *@
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-sm-12 control-label" })
            <div class="col-sm-12">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-sm-12 control-label" })
            <div class="col-sm-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Subject, new { @class = "col-sm-12 control-label" })
            <div class="col-sm-12">
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Subject" })
                @Html.ValidationMessageFor(m => m.Subject)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Message, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-12">
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Your message" })
                @Html.ValidationMessageFor(m => m.Message)
            </div>
        </div>
        @* Ligesom i min Login form, så har jeg en knap til sidst som sørge for at metoden bliver kørt *@
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button id="contact-submit" type="submit" class="btn btn-primary input-medium pull-left">
                    Send
                </button>
            </div>
        </div>
    }
}
else
{
    @* Når vi har sendt en besked så bliver vores Success ændret i min surfacecontroller til true og derfor displayer jeg bare en simple tekst som siger tak for man sendte en besked *@
    <p>Thank you for contacting us. We’ll be in touch soon!</p>
}

