﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Core.Models
@using Umbraco.Web


@*
    This snippet makes a list of links of all visible pages of the site, as nested unordered HTML lists.

    How it works:
    - It uses a custom Razor helper called Traverse() to select and display the markup and links.
*@

@{ var selection = Model.Content.Site(); }

<div class="sitemap">
    <ul class="sitemap" style="margin:0">
        <li>
            <strong><a href="/">Landing</a></strong>
        </li>
    </ul>
    @* Render the sitemap by passing the root node to the traverse helper, below *@
    @Traverse(selection)
</div>


@* Helper method to traverse through all descendants *@
@helper Traverse(IPublishedContent node)
{
    @* Update the level to reflect how deep you want the sitemap to go *@
    const int maxLevelForSitemap = 4;

    @* Select visible children *@
    var selection = node.Children.Where(x => x.IsVisible() && x.Level <= maxLevelForSitemap).ToArray();

    @* If any items are returned, render a list *@
    if(selection.Length > 0)
    {
        <ul class="sitemap">
            @foreach (var item in selection)
            {
                if(item.Name != "Site map")
                {
                    <li class="level-@item.Level">
                        @if (item.Level > 2) 
                        {
                            <a href="@item.Url">@item.Name</a>

                            @* Run the traverse helper again for any child pages *@
                            @Traverse(item)
                        } 
                        else 
                        {
                            <strong><a href="@item.Url">@item.Name</a></strong>

                            @* Run the traverse helper again for any child pages *@
                            @Traverse(item)
                        }
                    </li>
                }

            }
        </ul>
    }
}